.div-filtros{
	height: 75px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
	/*-webkit-box-shadow: 0px 0px 0px 0px rgba(48, 50, 50, 0.35);
	-moz-box-shadow:    0px 0px 0px 0px rgba(48, 50, 50, 0.35);
	box-shadow:         0px 2px 2px 0px rgba(48, 50, 50, 0.35);*/
}